// filter.wxs
var timeArry = function(number, index) {
  var hours = Math.floor(number / 60 / 60)
  var minutes = Math.floor((number - hours * 60 * 60) / 60)
  var seconds = Math.floor((number - hours * 60 * 60 - minutes * 60))
  var arry = []
  hours < 10 ? hours = '0' + hours : null
  minutes < 10 ? minutes = '0' + minutes : null
  seconds < 10 ? seconds = '0' + seconds : null
  arry.push(hours, minutes, seconds)
  return arry[index]
}
var moneyFormat = function(money) {
  return money.toFixed(2);
}
var substring = function(str, startIndex, endIndex) {
  if (str.length > endIndex) {
    return str.slice(startIndex, endIndex) + '...';
  } else {
    return str;
  }
}

/**
 * 
 * @param timestamp 时间戳
 * @param option 返回格式 notime hh:mm:ss, nosecond yyyy-MM-dd hh:mm
 */
var formatDate = function (timestamp,option,format) {
  if (!format) {
    format = '-';
  }
  var date = getDate(parseInt(timestamp));
  var year = date.getFullYear();
  var month = date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
  var day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
  var hour = function() {
    if (date.getHours()<10) {
      return '0' + date.getHours();
    }
    return date.getHours();
    }
  var minute = function () {
    if (date.getMinutes() < 10) {
      return '0' + date.getMinutes();
    }
    return date.getMinutes();
  }
  var second = function () {
    if (date.getSeconds() < 10) {
      return '0' + date.getSeconds();
    }
    return date.getSeconds();
  }

  if (option=='notime'){
    return year + format + month + format + day;
  }
  if (option=='nosecond'){
    return year + format + month + format + day + ' ' + hour() + ':' + minute();
  }
  if (option == 'date_md') {
    return month + format + day;
  }
  if (option == 'date_hm') {
    return hour() + ':' + minute();
  }
  if (option == 'date_hmd') {
    return hour() + ':' + minute() + ":" + second();
  }

  return year + format + month + format + day + ' ' + hour() + ':' + minute() + ":" + second();
}

// 接口返回时间格式含有‘T’ 处理为yy-MM-dd HH:mm
var timeformat = function (number) {
  return number.split('T')[0].split('-').join('.') + ' ' + number.split('T')[1].split(':')[0] + ':' + number.split('T')[1].split(':')[1]
}

var numberFormat = function (value) {
  var v = parseInt(value) //强转Int，毕竟有可能返回是String类型的数字
  return v.toFixed(2)
}
var numberFormatFloat = function (value) {
  var v = parseFloat(value) //强转Float，毕竟有可能返回是String类型的数字
  return v.toFixed(2)
}

var indexOf = function (value, keyword) {
  return value.indexOf(keyword) !== -1
}
 
/*
 * 导出
 */
module.exports = {
  timeArry: timeArry,
  moneyFormat: moneyFormat,
  formatDate: formatDate,
  timeformat: timeformat,
  numberFormat: numberFormat,
  numberFormatFloat: numberFormatFloat,
  substring: substring,
  indexOf: indexOf
}